.cardContainer {
  width: 380px;
  height: 460px;
  background: linear-gradient(
    114.99deg,
    #471ca9 -0.99%,
    #5736a3 54.28%,
    #4b2a99 78.99%
  );
  box-shadow: -2.5777px 6.87386px 20.6216px rgba(0, 0, 0, 0.23);
  border-radius: 20px;
  transition: transform 250ms ease;
}
.cardContainer:hover {
  transform: scale(1.01);
}
.logo {
  padding-top: 20px;
  padding-left: 20px;
}
.upperCard {
  height: 45%;
  background-image: url("../../assets/bgc-image.png");
  background-position: center;
  background-repeat: no-repeat;
}
.line {
  width: 380px;
  height: 8px;
  margin-bottom: 40px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.06),
    inset 0px -1.71846px 3.43693px #ae7be3, inset 0px 3.43693px 2.5777px #fbf8ff;
}
.imageBorder {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  transform: translateY(-50%);
  background: #ebd8ff;
  box-shadow: 0px 4.39163px 4.39163px rgba(0, 0, 0, 0.06),
    inset 0px -2.19582px 4.39163px #ae7be3,
    inset 0px 4.39163px 3.29372px #fbf8ff;
  border-radius: 100%;
}
.avatar {
  border-radius: 100%;
}
.lowerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.cardInfo {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  text-transform: uppercase;
  text-align: center;
  color: #ebd8ff;
}
.followButton {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #373737;

  width: 196px;
  padding-top: 14px;
  padding-bottom: 14px;
  background: #ebd8ff;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}
.followingButton {
  background-color: #5cd3a8;
}
