:root {
  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(255, 255, 255);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}
h1,
h2,
p,
ul {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
.container {
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
}
a {
  text-decoration: inherit;
}
.active {
  color: #000cf0;
}
