.tweets {
  padding-top: 30px;
  padding-bottom: 50px;
}
.tweetsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding-bottom: 40px;
}
.moreButton {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ebd8ff;

  width: 196px;
  padding-top: 14px;
  padding-bottom: 14px;
  margin: 0 auto;
  background-color: #535bf2;
  box-shadow: 0px 3.43693px 3.43693px rgba(0, 0, 0, 0.25);
  border-color: transparent;
  border-radius: 10px;
  transition: background-color 250ms linear;
}
.moreButton:hover {
  background-color: #6c73ff;
}
